@page "/countries"
@inject IRepository repository

<h3>Paises</h3>

@if (Countries == null)
{
    <p>Cargando países...</p>
}
else if (Countries.Count == 0)
{
    <p>No hay países disponibles.</p>
}
else
{
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>País</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries!)
            {
                <tr>
                    <th>@country.Name</th>
                    <th>
                        <a class=" btn btn-warning btn-sm">Editar</a>
                        <button class=" btn btn-danger btn-sm">Borrar</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Country>? Countries;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var responseHttp = await repository.GetAsync<List<Country>>("api/countries");
        Countries = responseHttp.Response;
    }

   
}
